* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    background-color: white;
    font-size: 20px;
    color: black;
}

body::after {
    content: '';
    display: block;
    height: 14rem;
}

body > h1 {
    clear: both;
    margin-left: 10%;
    text-decoration: underline solid black 2px;
    text-underline-offset: 3px;
}

h2 {
    margin-left: 7%;
    text-decoration: underline solid black 2px;
    text-underline-offset: 3px;
}

/* Floating the img to the left and sizing it to a width of 320px and a height or 125px */
img {
    float: left;
    width: 400px;
    height: 150px;
    margin-top: 35px;
    margin-left: -20px;
}

header {
    margin-top: -50px;
}

header a {
    padding-right: 25px;
}

.nav-links {
    float: right;
    margin-top: 75px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
  
a.left {
    position: relative;
}

a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 23px;
    background-color: #000000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 60%;
}

/* Styling the Resume button to have a */
.button1 {
    width: 9em;
    height: 5ex;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background-color: #000000;
    cursor: pointer;
}

.button1:hover {
    transition: all 260ms ease;
    color: black;
    background-color: white;
    border: 1.9px solid black;
}

/* Dark mode functionality */
.darkmode {
    background-color: black;
    color: white;
}

.heroSection {
    clear: both;
    /* Color Background Test */
    background-image: url("../img/hero-img-index.jpg");
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.39) 0%,rgba(0,0,0,0.4) 7%,rgba(0,0,0,0.57) 100%), url("../img/hero-img-index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: 450px;
    width: 100%;
    color: #ffffff;
    padding: 20px 40px 20px 40px;
}

.heroSection h1 {
    font-size: 45px;
    padding: 80px 0 0 100px;
}

.main-content {
    display: inline-block;
    height: 1000px;
    width: 100%;
    background-color: #07a7a7;
}

.recent-projects {
    margin: 0 10% 0 10%;
    width: 80%;
    height: auto;
}

.col {
    /* background-color: gray; */
    display: inline-block;
    width: 29%;
    margin: 20px;
    height: 300px;
}

.col img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 250px;
}

.col p {
    font-weight: bold;
    text-align: center;
    margin-top: 265px;
}

footer {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14rem; 
}

.footer-menu {
    float: left;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 50%;
}

.email-signup {
    float: right;
    text-align: left;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 40%;
    /* background-color: pink; */
}

footer h5 {
    text-decoration: underline solid black 2px;
    text-underline-offset: 3px;
}

.footer-menu h5 {
    float: right;
    padding-right: 10%;
}

footer p {
    clear: both;
}

.social-container {
    display: inline;
    width: 100%;
    height: auto;
}

#nav-bars {
    clear: right;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    float: right;
    margin-top: -1.5%;
}

#nav-bars li {
    padding-right: 70px;
    padding-bottom: 10px;
}

.social-icons {
    list-style-type: none;
    margin-top: 9%;
    padding: 0;
    overflow: hidden;
}

.social-icons li {
    float: left;
    margin-right: 40px;
}

.social-icons li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


#twitter-hover:hover {
    color: #1DA1F2;
}

#facebook-hover:hover {
    color: #1877F2;
}

#instagram-hover:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#linkedin-hover:hover {
    color: #0A66C2;
}

#github-hover:hover {
    color: #4cd3aa;
}

.email-signup input {
    padding: 10px;
}

#btn-email {
    width: 7em;
    height: 39px;
    margin-left: -5px;
    border: 2px solid rgb(0, 0, 0);
    
    color: white;
    font-weight: bold;
    background-color: #000000;
    cursor: pointer;
}

div.box{
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
 }
 div.line{
    width: 50px;
    transform: rotate(-55deg);
    transform-origin: bottom left;
    border-top: 1px solid black;
    position: absolute;
    bottom: -165px;
    left: 130px;
    box-sizing: border-box;
 }